<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://127.0.0.1:4044" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="TcpOutlet" /> <!-- Запись уровня "Info" в файл -->
        <logger name="*" minlevel="Warn" writeTo="TcpOutlet" /> <!-- Запись уровня "Warn" в файл -->
        <logger name="*" minlevel="Error" writeTo="TcpOutlet" /> <!-- Запись уровня "Error" в файл -->
        <logger name="*" minlevel="Fatal" writeTo="TcpOutlet" /> <!-- Запись уровня "Error" в файл -->
    </rules>
</nlog>